@page "/account/login"
@using MudBlazor
@using Onyx.App.Shared.Services
@inject IUserManager UserManager

<h3>Login</h3>

<EditForm Model="m_RegisterModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <MudTextField Label="Email" @bind-Value="m_RegisterModel.Email" Required="true"/>
    <MudTextField Label="Password" @bind-Value="m_RegisterModel.Password" Required="true"
                  InputType="InputType.Password"/>
    <MudButton ButtonType="ButtonType.Submit">Register</MudButton>
</EditForm>

@code {
    private readonly RegisterModel m_RegisterModel = new();

    private async Task Submit()
    {
        var result = await UserManager.LoginAsync(m_RegisterModel.Email, m_RegisterModel.Password, "/");
        if (result.Success)
        {
            // Redirect
        }
        else
        {
            // TODO
            Console.WriteLine("Error: " + result.Message);
        }
    }

    public class RegisterModel
    {
        public string Email { get; set; } = "";
        public string Password { get; set; } = "";
    }

}