@page "/settings"
@using Onyx.Data.DataBaseSchema.TableEntities

@layout AppLayout
<h3>Settings</h3>


<MudExpansionPanels>
    <MudExpansionPanel Text="Registered devices" MaxHeight="150" Expanded="true">
        @foreach (var device in _MyDevices)
        {
            <MudElement>@device.Name</MudElement>
        }
    </MudExpansionPanel>
    <MudExpansionPanel Text="Register new device" MaxHeight="500">
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            
        </MudForm>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Device Name" MaxHeight="1000">
        <MudSelect>
            @foreach (var device in _MyDevices)
            {
                <MudSelectItem>@device.Name</MudSelectItem>
            }
        </MudSelect>
    </MudExpansionPanel>
</MudExpansionPanels>


@code {
    private Device NewDevice;
    private List<Device> _MyDevices;
    
    protected override Task OnInitializedAsync()
    {
        NewDevice = new Device();   
        return base.OnInitializedAsync();
    }

    private async Task AddDevice()
    {
        return;
    } 
    private async Task RemoveDevice()
    {
        return;
    }
    private async Task RenameDevice()
    {
        return;
    }
}