@page "/data"
@using Onyx.App.Shared.Services.Usage

<PageTitle>Data Display</PageTitle>

@inject IStatsHelper StatsHelper
@inject IStatsService UsageStatsService

<button @onclick="RequestPermission">Request Access</button>

@if (Usage != null)
{
    @foreach (var usage in Usage)
    {
        <div>
            <div>Name: @usage.Name</div>
            <div>Time in foreground: @usage.TimeInForeground</div>
            <div>Time visible: @usage.TimeVisible</div>
        </div>
    }
}

@code {
    private List<Stats>? Usage { get; set; } = [];

    protected override void OnInitialized()
    {
        // gets usage stats for a month
        long endTime = DateTimeOffset.UtcNow.ToUnixTimeMilliseconds();
        long startTime = endTime - (30L * 24 * 60 * 60 * 1000);
        Usage = StatsHelper.GetUsageStatsTimeInterval(startTime, endTime);
    }

    private void RequestPermission()
    {
        UsageStatsService.OpenUsageAccessSettings();
    }
}