@page "/"
@layout LandingPageLayout

<style>
    .container {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
    }

    .section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
        padding: 2rem;
        flex-wrap: wrap;
    }

    .section-content {
        flex: 1;
        min-width: 300px;
        padding: 1rem;
    }

    .image-container {
        flex: 1;
        min-width: 300px;
        height: 400px;
        border-radius: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        margin: 1rem;
    }

    .bg-login {
        background-image: url('img/LoginBackground.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.08;
    }

    .present-image1 {
        background-image: url('img/Dashboard.png');
    }

    .present-image2 {
        background-image: url('img/Test2.png');
    }
</style>

<AuthorizeView>
    <Authorized>
        <RedirectToHome />
    </Authorized>
    <NotAuthorized>
        <div class="container mud-width-full">
            <div class="section">
                <div class="bg-login"></div>
                <div class="section-content" style="z-index: 1; text-align: center; color: white;">
                    <h1 style="font-size: xxx-large">Willkommen bei der Onyx App</h1>
                    <p style="font-size: large">Bitte <a href="/account/login" style="color: #C58848;">logge dich ein</a>, um fortzufahren.</p>
                </div>
            </div>

            <div class="section">
                <div class="section-content">
                    <MudText Color="Color.Secondary" Typo="Typo.h3">Alles auf einen Blick</MudText>
                    <MudText Typo="Typo.body1">
                        Verwalte die Bildschirmzeit all deiner Geräte an einem Ort – effizient, zentral und übersichtlich.
                    </MudText>
                </div>
                <div class="image-container present-image1"></div>
            </div>

            <div class="section">
                <div class="image-container present-image2"></div>
                <div class="section-content">
                    <MudText Color="Color.Secondary" Typo="Typo.h3">Zeit sinnvoll nutzen</MudText>
                    <MudText Typo="Typo.body1">
                        Analysiere dein Nutzungsverhalten und gewinne Zeit für die wirklich wichtigen Dinge im Leben.
                    </MudText>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
