@page "/account/login"
@layout MainLayout
@using System.ComponentModel.DataAnnotations
@using MudBlazor
@using Onyx.App.Shared.Services.Auth
@using Onyx.App.Shared.Components.Auth
@inject IUserManager UserManager
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm Model="m_RegisterModel" OnValidSubmit="Submit" FormName="LoginForm">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <MudTextField Label="Email" @bind-Value="m_RegisterModel.Email" Required="true"/>
    <MudTextField Label="Password" @bind-Value="m_RegisterModel.Password" Required="true"
                  InputType="InputType.Password"/>
    <MudButton ButtonType="ButtonType.Submit">Login</MudButton>
    <MudButton OnClick="() => Console.WriteLine(12)">Test</MudButton>
    <button @onclick="() => Console.WriteLine(11)">Test2</button>
</EditForm>

<ExternalLoginPicker />

<MudText>Go to <a href="/account/register">register</a> page</MudText>

@code {
    private readonly RegisterModel m_RegisterModel = new();

    private async Task Submit()
    {
        Console.WriteLine("asd");
        var result = await UserManager.LoginAsync(m_RegisterModel.Email, m_RegisterModel.Password, "/");
        if (result.Success)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("Error: " + result.Message);
        }
    }

    public class RegisterModel
    {
        [EmailAddress]
        [Required]
        public string Email { get; set; } = "";
        
        [Required]
        public string Password { get; set; } = "";
    }

}