@page "/account/register"
@inject IUserManager UserManager
@inject NavigationManager NavigationManager

<h3>Register</h3>

<EditForm Model="m_RegisterModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator/>
    @if (m_Error is not null)
    {
        <MudText Color="Color.Error">@m_Error</MudText>
    }
    <ValidationSummary/>
    <MudTextField Label="Username" @bind-Value="m_RegisterModel.Username" Required="true"/>
    <MudTextField Label="Email" @bind-Value="m_RegisterModel.Email" Required="true"/>
    <MudTextField Label="Password" @bind-Value="m_RegisterModel.Password" Required="true"
                  InputType="InputType.Password"/>
    <MudTextField Label="Confirm Password" @bind-Value="m_RegisterModel.ConfirmPassword" Required="true"
                  InputType="InputType.Password"/>
    <MudButton ButtonType="ButtonType.Submit">Register</MudButton>
</EditForm>

<ExternalLoginPicker />

@code {
    private readonly RegisterModel m_RegisterModel = new();
    private string? m_Error;

    private async Task Submit()
    {
        var result = await UserManager.RegisterAsync(m_RegisterModel.Username, 
            m_RegisterModel.Email, m_RegisterModel.Password, "/");
        if (result.Success)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            m_Error = result.Message;
        }
        StateHasChanged();
    }

    public class RegisterModel
    {
        [Required]
        public string Username { get; set; } = "";
        
        [EmailAddress]
        [Required]
        public string Email { get; set; } = "";
        
        [Required]
        public string Password { get; set; } = "";
        
        [Required]
        [Compare(nameof(Password))]
        public string ConfirmPassword { get; set; } = "";
    }

}