@using MudBlazor
@inherits LayoutComponentBase


@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<MudThemeProvider Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code
{
    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight() //Helles Theme, bitte bei Bedarf Farben austauschen
        {
                Black = "#E0E0E0",
                Background = "F5F1EB",
                Surface = "#838383",
                TextPrimary = "#A1A1A1",
                Primary =  "#B34704",
                Secondary = "#E85B09",
                Tertiary =  "#FF8F32",
                White = "#F5F1EB"
        },
        PaletteDark = new PaletteDark()//Dunkles Theme, bitte bei Bedarf Farben austauschen
        {
            Black = "#E0E0E0",
            Background = "3A3A3A",
            Surface = "#838383",
            TextPrimary = "#A1A1A1",
            Primary = "#E37A37",
            Secondary = "#F5975E",
            Tertiary = "#FFC285",
            White = "#F5F1EB"
        }
    };
}