@inherits LayoutComponentBase

@inject IStorage Storage
@inject ISnackbar Snackbar

<CascadingValue Value="this">
    <CustomErrorBoundary>
        @Body
    </CustomErrorBoundary>
</CascadingValue>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<MudThemeProvider Theme="m_MyCustomTheme" IsDarkMode="m_IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code
{
    private bool m_IsDarkMode = true;

    public bool IsDarkMode
    {
        get => m_IsDarkMode;
        set
        {
            m_IsDarkMode = value;
            StateHasChanged();
            Storage.SetItemAsync("darkMode", value);
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        Snackbar.Configuration.ClearAfterNavigation = true;
        Snackbar.Configuration.SnackbarVariant = Variant.Filled;
        Snackbar.Configuration.VisibleStateDuration = 5000;
        Snackbar.Configuration.HideTransitionDuration = 500;
        Snackbar.Configuration.ShowTransitionDuration = 500;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;

        if (await Storage.ContainKeyAsync("darkMode"))
            m_IsDarkMode = await Storage.GetItemAsync<bool>("darkMode");
    }

    private readonly MudTheme m_MyCustomTheme = new()
    {
        
        PaletteLight = new PaletteLight()
        {
            Primary = "#9D4D27",       
            Secondary = "#C58848",     
            Tertiary = "#494C3B",      
            Background = "#F6F2E9",    
            DrawerBackground = "#CBCBBF",
            DrawerText = "#111213",
            AppbarBackground = "#C58848",
            AppbarText = "#111213",
            TextPrimary = "#111213",  
            TextSecondary = "#494C3B",  
            ActionDefault = "#494C3B",
            ActionDisabled = "#9F9B8A",
            ActionDisabledBackground = "#CBCBBF"
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#9D4D27",        
            Secondary = "#C58848",      
            Tertiary = "#F6F2E9",      
            Background = "#111213",     
            Surface = "#525453",        
            DrawerBackground = "#111213",
            DrawerText = "#F6F2E9",     
            AppbarBackground = "#C58848",
            AppbarText = "#111213",
            TextPrimary = "#F6F2E9",    
            TextSecondary = "#CBCBBF",  
            ActionDefault = "#CBCBBF",
            ActionDisabled = "#494C3B",
            ActionDisabledBackground = "#9F9B8A",
            Dark = "#323233"
        },
        Typography = new Typography()
        {
            H4 = new H4Typography()
            {
                FontWeight = "bold"
            }
        },
    };
}