@using MudBlazor
@using Onyx.App.Shared.Services
@inherits LayoutComponentBase

@inject IStorage Storage
@inject ISnackbar Snackbar

<CascadingValue Value="this">
    <CustomErrorBoundary>
        @Body
    </CustomErrorBoundary>
</CascadingValue>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<MudThemeProvider Theme="m_MyCustomTheme" IsDarkMode="m_IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code
{
    private bool m_IsDarkMode = true;

    public bool IsDarkMode
    {
        get => m_IsDarkMode;
        set
        {
            m_IsDarkMode = value;
            StateHasChanged();
            Storage.SetItemAsync("darkMode", value);
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        Snackbar.Configuration.ClearAfterNavigation = true;
        Snackbar.Configuration.SnackbarVariant = Variant.Filled;
        Snackbar.Configuration.VisibleStateDuration = 5000;
        Snackbar.Configuration.HideTransitionDuration = 500;
        Snackbar.Configuration.ShowTransitionDuration = 500;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;

        if (await Storage.ContainKeyAsync("darkMode"))
            m_IsDarkMode = await Storage.GetItemAsync<bool>("darkMode");
    }

    private readonly MudTheme m_MyCustomTheme = new()
    {
        PaletteLight = new PaletteLight() //Helles Theme, bitte bei Bedarf Farben austauschen
        {
                Black = "#E0E0E0",
                Background = "#F5F1EB",
                Surface = "#838383",
                TextPrimary = "#A1A1A1",
                Primary =  "#B34704",
                Secondary = "#E85B09",
                Tertiary =  "#FF8F32",
                White = "#F5F1EB",
                AppbarBackground = "#B34704"
        },
        PaletteDark = new PaletteDark() //Dunkles Theme, bitte bei Bedarf Farben austauschen
        {
            Black = "#E0E0E0",
            Background = "#3A3A3A",
            Surface = "#838383",
            TextPrimary = "#A1A1A1",
            Primary = "#E37A37",
            Secondary = "#F5975E",
            Tertiary = "#FFC285",
            White = "#F5F1EB",
            AppbarBackground = "#E37A37"
        }
    };
}